<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog>
    <targets>
      <target name="logconsole" type="Debugger" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logconsole" />
    </rules>
  </nlog>
</configuration>