<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caseless.Fody" version="1.5.0" targetFramework="net462" developmentDependency="true" />
  <package id="Costura.Fody" version="1.4.1" targetFramework="net462" developmentDependency="true" />
  <package id="Fody" version="2.0.9" targetFramework="net462" developmentDependency="true" />
  <package id="GlobalHotKey" version="1.1.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net462" />
  <package id="StringEx.CS" version="0.3.1" targetFramework="net462" developmentDependency="true" />
  <package id="ZXing.Net" version="0.15.0" targetFramework="net462" />
</packages>