<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caseless.Fody" version="1.4.2" targetFramework="net40-client" developmentDependency="true" />
  <package id="Costura.Fody" version="1.3.3.0" targetFramework="net40-client" developmentDependency="true" />
  <package id="Fody" version="1.29.4" targetFramework="net40-client" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net40-client" />
  <package id="StringEx.CS" version="0.3.1" targetFramework="net40-client" developmentDependency="true" />
</packages>