<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caseless.Fody" version="1.8.3" targetFramework="net472" />
  <package id="Costura.Fody" version="3.3.3" targetFramework="net472" />
  <package id="Fody" version="4.2.1" targetFramework="net472" developmentDependency="true" />
  <package id="GlobalHotKey" version="1.1.0" targetFramework="net472" />
  <package id="MaxMind.Db" version="2.6.1" targetFramework="net472" />
  <package id="MaxMind.GeoIP2" version="3.2.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="NLog" version="4.6.8" targetFramework="net472" />
  <package id="StringEx.CS" version="0.3.1" targetFramework="net472" developmentDependency="true" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="ZXing.Net" version="0.16.5" targetFramework="net472" />
</packages>